[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./integrabackend/config/*,
       ./integrabackend/wsgi.py,
       ./integrabackend/celery.py*,
       *__init__*


[report]
show_missing = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./integrabackend/config/*,
       ./integrabackend/celery.py*,
       ./integrabackend/wsgi.py,
       *__init__*
