{% extends 'emails/base.html' %}

{% block content %}
    <p> Apreciado Sr(a) {{ user.get_full_name }} </p>
    <p>
        Hemos asignado su usuario poder acceder al portal de pagos de {{ application_name }}.
        Desde allí podrá realizar los pagos de colegiatura utilizando su tarjeta de crédito.
        Por favor ingrese a través del siguiente enlace: <a href="{{ link_portal }}" target="_blank" rel="noopener noreferrer">acceso al portal</a>
    </p> 
    <p>
        Su nombre de usuario es: {{ user.username }} 
    </p>
    <p>
        En caso de no recordar su contraseña puede solicitar el cambio a través del siguiente enlace: <a href="{{ link }}" target="_blank" rel="noopener noreferrer">cambio de contraseña</a>
    </p>
    <br>
    <p>
        Cordialmente,
        <br>
        Equipo Administrativo
        <br>
        {{ application_name }}
    </p>
{% endblock content %}